{%extends 'main/base.html'%}
<!DOCTYPE html>
{%block content%}
{%load staticfiles%}
<html>
    <head>
        <title>
            Breaking News
        </title>
        <link rel="stylesheet" type="text/css" href="{%static "visit/details/css/news.css"%}">
        <style>
    
           

</style>

    </head>
    <body>
        <article>
            <h1>Breaking News: SAP ties up with IIM-Ahmedabad's Angel Prime to launch startup accelerator programme </h1>

             <center><p><strong>Author:</strong> Bill Clinton, <strong>Published:</strong> Yesterday</p></center>

            <div>
                <center><img src="{%static "main/incubators/pictures/news.jpg"%}"><br>               
                 <span><b>Image source:</b> The WEB</span>
                 </center>
            </div>

            <p> <b>
                SAP has launched a startup accelerator programme in partnership with Center for Innovation Incubation & Entrepreneurship (Angel prime) at IIM-Ahmedabad to provide mentorship to early-stage entrepreneurs. <br> <br>

Through this programme, SAP and Angel Prime aim to catalyze assistance from several support organizations such as angel networks, co-working spaces, fabrication labs, incubators, industry associations, and, technology and academic institutions, which have been working towards creating a vibrant entrepreneurial ecosystem in Gujarat. <br>
“Entrepreneurs are the emerging leaders of the Digital Economy. They generate tremendous employment opportunities and contribute to the country’s growth,” said Adaire Fox-Martin, President, SAP Asia Pacific Japan. “The programme seeks to help entrepreneurs from tier II and tier III towns drive sustainable economic growth and innovation, and make Digital India real.” <br> <br>

The programme will be a significant catalyst of growth for entrepreneurs from emerging towns. Entrepreneurs will undergo a three-month, non-residential boot camp and monthly training workshops. They will be paired with domain experts from SAP Labs Bangalore to get insights into the latest technology innovations. <br>

The Startup Accelerator Programme aims to create a pipeline of investable startups from this region by scouting for entrepreneurs from Gujarat and providing them with mentorship opportunities. <br>

“Innovation and economic growth are directly linked to Gujarat’s ability to develop individuals with the skills to become a successful entrepreneur,” said Kunal Upadhyay, CEO, CIIE at IIM – Ahmedabad. “We are pleased to collaborate with SAP on this initiative, and we will support this by leveraging our past experience and expertise to fast-track startup growth through operational guidance, mentoring and access to capital.”<br>

In addition, this programme will help develop a ecosystem and support entrepreneurs in areas such as social entrepreneurship, healthcare, education, sports, Internet, mobile, Internet of Things, clean technology, smart city and food & agri business by providing them with operational guidance and access to capital.<br> </b>
            </p>
          

        </article>
        
    </body>
</html>

{%endblock%}