<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PHP Contact Form To Send Email On Form Submission - reusable form</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       
        <link rel="stylesheet" href="{% static "main/css/form.css" %}" >
        <script src="{% static "main/vendor/form.js" %}"></script>

       <style>
            body {
                background-color: #ffffff;
                background-image:url({% static 'main/background/bg3.jpg' %}), linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%);
            
              }
    </style>
    </head>
    <body >
        <div class="container">
            <div class="container form-top">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                        <div class="panel panel-danger">
                            <div class="panel-body">
                                <form id="reused_form">
                                    <div class="form-group">
                                        <label >Name Of Startup</label>
                                        <input type="text" name="name" required class="form-control" placeholder="Enter Name">
                                    </div>
                                    <div class="form-group">
                                        <label >Website </label>
                                        <input type="text" name="email" required class="form-control" placeholder="Enter Startup Website(optional)">
                                    </div>
                                    <div class="form-group">
                                            <label >Date of Founding </label>
                                            <input type="text" name="email" required class="form-control" placeholder="dd/mm/yyyy">
                                        </div>    
                                        <div class="form-group">
                                                <label >Where is your startup registered </label>
                                                <input type="text" name="email" required class="form-control" placeholder="City/Location">
                                            </div>
                                            
                                        <div class="form-group">
                                        <label >Describe the Product/Service you are offering in detail *</label>
                                        <textarea rows="8" name="message" class="form-control" placeholder="Type Your Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                            <label >Describe the Main Problem your Startup is trying to Solve *</label>
                                            <textarea rows="5" name="message" class="form-control" placeholder="Type Your Message"></textarea>
                                        </div>
                                        <div class="form-group">
                                                <label > Number of members on your team</label>
                                                <input type="text" name="name" required class="form-control" placeholder="Enter Name">
                                            </div>
                                    
                                        <a class="btn btn-raised btn-lg btn-warning" href = "{% url "main:done" %}">Apply</a>
                                    </div>
                                
                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>