{% extends 'main/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Popular Startups Incubated</title>
{% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "main/startups/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static "main/startups/css/clean-blog.min.css" %}" rel="stylesheet">

  </head>
<style>
  .background{
    color: align-self: antiquewhite;

  }
</style>
  <body>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Popular startups</h1>
              <span class="subheading">Projects which have been Incubated so far</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                eShares 
              </h2>
              <h3 class="post-subtitle">
                By: Kinetics Info ltd
              </h3>
            </a>
            <p class="post-meta">
              <a href="#">Startup Registered: 12/5/2017</a>
              eShares aims to be a platform that provides privately held 
              companies with their equity needs. Its business serves firms like Slack, 
              Funding Circle and Flexport by helping them keep track of their shares with 
              its management software. Founded in 2014, eShares recently raised $42 million 
              in Series C funding. With a subscription business model, it works with about 6,000 companies.
               Its next step is to work with companies in their initial public offering processes.</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                STAQU
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              70% of all data online comprises images and videos — a fact that excites Atul Rai, 
              whose company helps users search for products using images rather than words.
               "If a user wants a floral print dress, she should be able to upload a picture and 
               find similar products," says Rai, who set up Staqu in June 2015 to provide artificial 
               intelligence (AI) driven solutions for e-commerce. Its product can be integrated into 
               the search technology of e-commerce companies. Among Staqu's clients are Roposo, Karbonn 
               and Panasonic, and Staqu is staring at a big opportunity as e-commerce is yet to hit the
                big league in India. The Gurugram-based 
              company raised an undisclosed amount of funding from Indian Angel Network in June. </p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title"> 
                ID FOODS
              </h2>
              <h3 class="post-subtitle">
                Bengalurians consume 1 crore idlis a day. In that fact P C Musthafa sees a daily opportunity
                 of Rs 3 crore (at Rs 3 an idli). That's what pushed the IIM-B graduate to start iD Fresh 
                 Foods with four of his cousins in 2006, delivering homemade batter in Bengaluru. Today,
                  its idli/dosa batter is available in 14 cities, and iD's revenues crossed Rs 100 crore last
                   year. "From the beginning, we were clear that we were not a ready-to-eat brand. Ours is 
                   ready-to-cook food," says Musthafa. iD seems to have cracked the risky fresh food business 
                   and 2017 might be the year they 
                cross revenues of Rs 200 crore with plans to launch vada and ragi dosa batter. 
              </h3>
            </a>
            <p class="post-meta">Founders:
              <a href="#"> Atul Rai, Abhishek Sharma </a>
              on August 24, 2018</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                CAPITAL FLOAT
              </h2>
              <h3 class="post-subtitle">
                Bengaluru-headquartered Capital Float considers 2016 a remarkable year for fintech startups. 
                "The sector attracted $150 million in funding. Digital India and demonetisation will only give 
                further impetus to the sector," says Gaurav Hinduja, co-founder, Capital Float. The company, 
                which started in 2013 with loans to SMEs, has come up with innovative products such as 'Pay Later',
                 which gives loans to retailers against data on PoS machines. Capital Float, which primarily handles
                  e-commerce finance, has seen 8x growth in 2016, its biggest so far. From Rs 150 crore loans disbursed 
                  in 2015, it disbursed Rs 1,000 crore in 2016. 
                Capital Float tied up with 45 new players, including Amazon, Yatra and Ola. 
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on July 8, 2018</p>
          </div>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "main/startups/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "main/startups/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "main/startups/js/clean-blog.min.js" %}"></script>

  </body>

</html>
{% endblock %}