
html
{
  height:100%;  
}
body{    
  background:url('images/jurassic-coast-1406284_1920.jpg') no-repeat;
  background-size: cover;
  height:100%;
  width:100%;

}


.form-top{
	margin-top: 30px;
}
.panel{
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
	border-radius: 10px;
    border: 0;
}
@-moz-document url-prefix() {
    .form-control{
    	height: auto;
    }
}


